<div class="sharing-icons-div">
  <% if (theme.share_twitter) { %>
    <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%= page.permalink %>" target="_blank" irel="noopener noreferrer" class="icon-twitter"></a>
  <% } %>
  <% if (theme.share_facebook) { %>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= page.permalink %>" target="_blank" irel="noopener noreferrer" class="icon-facebook"></a>
  <% } %>
  <% if (theme.share_googleplus) { %>
    <a href="https://plus.google.com/share?url=<%= page.permalink %>" target="_blank" irel="noopener noreferrer" class="icon-gplus"></a>
  <% } %>
  <% if (theme.share_linkedin) { %>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= page.permalink %>&title=<%= page.title %>" target="_blank" irel="noopener noreferrer" class="icon-linkedin"></a>
  <% } %>
  <% if (theme.share_reddit) { %>
    <a href="https://www.reddit.com/submit?url=<%= page.permalink %>&title=<%= page.title %>" target="_blank" irel="noopener noreferrer" class="icon-reddit"></a>
  <% } %>
  <% if (theme.share_email) { %>
    <a href="mailto:?&subject=<%= page.title %>&body=<%= page.permalink %>" target="_blank" irel="noopener noreferrer" class="icon-mail"></a>
  <% } %>
</div>
