<% if (blogfront) { %>
  <div id="main">
    <% page.posts.each(function(post){ %>
      <%- partial('article', {post: post, index: true}) %>
    <% }) %>
    <% if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; Prev',
          next_text: 'Next &raquo;'
        }) %>
      </nav>
    <% } %>
  </div>
<% } else { %>
  <div class="archive">
    <table>
      <thead>
        <th>Category</th>
        <th>Title</th>
        <th class="front-table-date">Date</th>
      </thead>
      <tbody>
        <% page.posts.each(function(item){ %>
          <tr class="front-archived">
            <td><span class="front-table-category"><a href="/categories/<%- item.categories.data[0].name %>"><%= item.categories.data[0].name %></a></span></td>
            <td><% if (item.title){ %>
              <% if (item.link){ %>
                <% if (item.title){ %>
                  <span class="front-table-link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></span>
                <% } else { %>
                  <span class="front-table-link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></span>
                <% } %>
              <% } else { %>
                <span class="front-table-link"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></span>
              <% } %>
            <% } else { %>
                <span>(No title)</span>
            <% } %></td>
          <td class="front-table-date"><time class="front-table-date" datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
<% } %>
