<div class="front-segment">
  <table>
    <tbody>
      <% page.posts.slice(0,10).each(function(item){ %>
        <tr class="front-archived">
          <td><span class="front-table-category"><a href="/categories/<%- item.categories.data[0].name %>"><%= item.categories.data[0].name %></a></span></td>
          <td><% if (item.title){ %>
            <% if (item.link){ %>
              <% if (item.title){ %>
                <span class="front-table-link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></span>
              <% } else { %>
                <span class="front-table-link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></span>
              <% } %>
            <% } else { %>
              <span class="front-table-link"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></span>
            <% } %>
          <% } else { %>
              <span>(No title)</span>
          <% } %></td>
        <td class="front-table-date"><time class="front-table-date" datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
  <div class="front-tagcloud"><%- tagcloud({min_font: 14, max_font: 40, color: true, amount: 100, start_color: "#33a6b8", end_color: "#092f35"}) %></div>
</div>

<div class="front-bottom">
  <div class="jumbo">
    <p class="small">I write code and blog about JavaScript, GNU/Linux and vim.</p>
    <img src="../images/pic.jpg" class="pic" />
  </div>
</div>

